/* General Styling */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* padding-inline: 20%; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html{
    scroll-behavior: smooth;
}

/* menu styling  */
li{
    display: inline-block;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 18px;
    color: rgb(97, 176, 255);
    cursor: pointer;
}
a{
    text-decoration: none;
}
.menu li a:hover{
    color: rgb(159, 207, 255);
    transition: 0.4s ease-in-out;
}
.menu li a:active{
    color: rgb(178, 216, 253);
}

/* header styling */
.menu{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 40px;
    width: 100%;
    height: 100px;
    background-color: rgb(31, 31, 31);
    color: white;
    margin: 0;
    padding-top: 35px;
}
.spread{
    width: 100%;
    height: 3px;
    position: relative;
    background-color: #2196F3;
}
header{
    width: 100%;
    height: 90vh;
    background-image: url(wallpaper-2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#Top{
    width: 80px;
    height: 80px;
    background-color: rgb(51, 51, 51);
    border-radius: 50%;
    color: white;
    top: -130px;
    position: relative;
    margin: 30px;
}
#myH1{
    color: whitesmoke;
    font-size: 55px;
    text-align: center;
    padding-top: 140px;
}
#myP{
    text-align: center;
    font-weight: 800;
    font-size: 17px;
    padding: 15px;
    color: yellow;
    letter-spacing: 6px;
}    

/*section*/
.section{
    display: block;
    background-color: rgb(229, 241, 252);
}
.para{
    text-wrap: wrap;
}
.section h1{
    font-size: 50px;
    text-align: center;
    padding: 60px;
}
.section p{
    padding-inline: 15%;
    padding-bottom: 40px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(94, 94, 94);
    line-height: normal;
    letter-spacing: normal;
}
h2{
    font-size: 40px;
}
.container{
    height: auto;
    text-align: center; 
    padding-inline: 15px;
}
b{
    color: #2196F3;
}
h3{
    font-size: 24px;
    color: rgb(58, 58, 58);
    padding: 30px;
}     
#myVideo{
    position: relative;
    max-width: 500px;
    max-height: 200px;
    padding: 10px;
}
video{
    border-radius: 5px;
}
.videos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    margin-inline: 20%;
    flex-wrap: wrap;

}

/* Company section styling */
.company{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px; 
    background-color: rgb(53, 53, 53);
    border-bottom-style: groove;
}
.company h2{
    color: whitesmoke;
    font-size: 48px;
    padding: 30px;
}
.company p{
    text-align: initial;
    padding-inline: 15%;
}
.company img{
    width: 200px;
    height: auto;
    border-radius: 50%;
}
button.read{
    border: none;
    width: 200px;
    height: 70px;
    margin: 15px;
    font-size: 18px;
    font-weight: bold;
    background-image: linear-gradient(rgb(4, 255, 4), rgb(0, 191, 255));
    color: whitesmoke;
    border-radius: 50px;
}

/* Container for skill bars */
#Projects{
    background-image: url(getcertified.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding-bottom: 30px;
    padding-inline: 15%;
    padding-top: 60px;
}
#Projects h2{
    color: white;
    font-size: 45px;
    font-weight: 500;
}
#Projects h3{
    color: yellow;
}
.bar{
    width: 100%; 
    background-color: #ddd; 
}
.skills {
    text-align: right; 
    padding-top: 20px; 
    padding-bottom: 10px; 
    color: white; 
}

.html {width: 90%; background-color: #ff7300;} 
.css {width: 80%; background-color: #2196F3;} 
.js {width: 65%; background-color: #fae900;}

/* article styling */
article ul{
    display: inline-block;
}
article li{
    padding-top: 10px;
}

/* repo div styling*/
.repo{
    font-size: 24px;
    color: white;
    list-style: none;
    line-height: 30px;
    letter-spacing: 1px;
}
.repo li, a:hover{
    border-bottom: unset;
    text-decoration: unset;
}

/* footer styling */
footer{
    display: block;
    text-align: center;
    background: 100%;
    padding: 50px;
    background-image: linear-gradient(45deg,rgb(4, 255, 255), rgb(1, 138, 250));
    color: white;
    display: flex;
    flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
    gap: 5em;
}
.wrap h4{
    color: whitesmoke;
}
footer li{
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 2px;
    list-style-type: none;
    text-decoration: none;
}
footer a{
    text-decoration: none;
    color: white;
}
footer p, h4{
    font-size: 23px;
    color: ghostwhite;
}
/* End of Code */